{% load core_tags %}
{% fragment_explainer as fe %}
<div class="fragment-explainer" up-hungry up-fixed="bottom">

  <div class="fragment-explainer--cell">
    <small>Last update:</small>
    <br>
    <b>


      {% if up %}
        Fragment <code>{{ up.target }}</code>
      {% else %}
        Full page load
      {% endif %}
    </b>
  </div>

  <div class="fragment-explainer--cell">

    <small>Template:</small>
    <br>
    <a href="{{ fe.template_code }}" target="_blank">

      <code>{{ fe.template }}</code>
    </a>
  </div>

  <div class="fragment-explainer--cell">
    <small>View:</small>
    <br>
    <a href="{{ fe.view_code }}" target="_blank">
      <code>{{ fe.view }}</code>
    </a>
  </div>

</div>
