{% load core_tags %}

<nav class="navbar navbar-expand navbar-light bg-light fixed-top">
  <a class='navbar-brand' up-follow href='/'>Unpoly Demo</a>
  <div class="navbar-nav">
    <a class='nav-item nav-link' up-follow href='{% url "company-list" %}' up-alias='{% url "company-list" %}*'>Companies</a>
    <a class='nav-item nav-link' up-follow href='{% url "project-list" %}' up-alias='{% url "project-list" %}*'>Projects</a>
    <a class='nav-item nav-link' up-follow href='{% url "task-list" %}' up-alias='{% url "task-list" %}*'>Tasks</a>

    <span class="nav-link">
      {% tourdot %}
        <p>Navigation links have the <code>[up-follow]</code> attribute. Clicking such links only updates a <b>page fragment</b>. The remaining DOM is not changed.</p>
        <p>Unpoly links can update arbitrary fragments, identified by CSS selectors. The default selector is the element with the <code>[up-main]</code> attribute.</p>
        <p>In this demo new fragments are highlighted with a <b>yellow flash</b>. Try switching between navigation sections.</p>
      {% endtourdot %}
    </span>

    <a class='nav-item nav-link' up-follow href='{% url "table-filter-list" %}' up-alias='{% url "table-filter-list" %}?*'>Table - filter</a>
  </div>
</nav>
