{% extends "base.html" %}
{% load core_tags crispy_forms_tags %}

{% block content %}

    {% if form.instance.id %}
        <h2 class="mb-4">Edit company {{ form.instance }}</h2>
    {% else %}
        <h2 class="mb-4">New company</h2>
    {% endif %}

    <form up-submit up-validate method="POST">
        {% csrf_token %}
        {% tourdot %}
            <p>The form is being validated on the server as you're completing fields.</p>
            <p>Try entering a duplicate company name and focusing the next field..</p>
        {% endtourdot %}
        {{ form|crispy }}

        <div class="d-flex align-items-center">
            <div class="flex-grow-1">
                <input type='submit' class='btn btn-primary mt-2' value='Save'>
                {% if not for.instance.id %}
                    {% tourdot %}
                        <p>Saving an invalid form will re-render validation errors in the same overlay.</p>
                        <p>Links and forms always render in the same layer unless another layer is targeted explicitly.</p>
                    {% endtourdot %}
                {% endif %}
            </div>

            <div>
                {% if form.instance.id %}
                    <a up-follow class='btn btn-outline-secondary' href='{% url "company-detail" form.instance.id %}'>Cancel</a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}