{% extends "base.html" %}
{% load core_tags crispy_forms_tags %}

{% block content %}

    <form  up-target='.task' class='task card' method="POST">
        {% csrf_token %}
        <div class="card-body d-flex flex-column">
            <div class="form-group flex-grow-1 mb-0">
                {{ form|crispy }}
            </div>
            <div class="flex-grow-0">
                <input type='submit' class='btn btn-primary mt-2' value='Save'>
            </div>
        </div>
    </form>
{% endblock %}